<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <h1>Message</h1>

      <div class="buttons">
        <a href="/" class="link">Messages</a>
        <a href="/new" class="link">New Message</a>
      </div>

      <div class="message">
        <h2 class="user"><%= message.user %></h2>
        <h3 class="text"><%= message.text %></h3>
        <h3 class="added"><%= message.added %></h3>
      </div>
    </main>
  </body>
</html>
