:root {
  --theme: darkslategrey;
  --light: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: var(--theme);
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  color: var(--theme);
  padding: 0px 20px;
}

h1 {
  font-size: 3rem;
  margin-top: 20px;
  color: var(--light);
}

.link {
  color: var(--light);
  text-decoration: none;
  border: 3px solid var(--light);
  padding: 10px;
  font-size: 1rem;
  width: 150px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}

.link:hover {
  color: var(--theme);
  background-color: var(--light);
}

.messages-container {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 30px;
}

.message {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--light);
  padding: 10px;
  border-radius: 10px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open {
  background-color: transparent;
  border: 2px solid var(--theme);
  padding: 5px 10px;
  font-family: monospace;
  color: var(--theme);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.open:hover {
  color: var(--light);
  background-color: var(--theme);
}

.user {
  font-size: 1.75rem;
}

.text {
  font-size: 1.25rem;
}

.added {
  font-style: italic;
  color: #555353;
}

form {
  background-color: var(--light);
  width: 500px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 10px;
}

form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--theme);
}

input,
textarea {
  background-color: var(--light);
  padding: 5px;
  border: 2px solid var(--theme);
  color: var(--theme);
  font-size: 1rem;
  font-family: monospace;
}

textarea {
  resize: vertical;
}

.submit {
  font-family: monospace;
  padding: 14px;
  background-color: var(--theme);
  color: var(--light);
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
  border: none;
  border: 2px solid var(--theme);
}

.submit:hover {
  background-color: lightgreen;
  border-color: lightgreen;
  color: var(--theme);
}
