:root {
  --theme: darkslategrey;
  --light: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: var(--theme);
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

h1 {
  font-size: 3rem;
  margin: 10px 0;
  color: var(--light);
}

.new-link {
  color: var(--light);
  text-decoration: none;
  border: 3px solid var(--light);
  padding: 10px;
  font-size: 1rem;
  width: max-content;
  font-weight: bold;
}

.new-link:hover {
  color: var(--theme);
  background-color: var(--light);
}

.messages-container {
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  color: var(--theme);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--light);
  padding: 10px;
  border-radius: 10px;
}

.user {
  font-size: 1.75rem;
}

.text {
  font-size: 1.25rem;
}

.added {
  font-style: italic;
  color: #555353;
}
